.pagination-item-link {
  color: #4d4f5c;
  display: block;
  padding: 8px 8px;
}
.pagination-item.active .pagination-item-link {
  color: #fff;
}
.pagination-item:hover .pagination-item-link {
  color: #fff;
}
