.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;

  .card-wrapper {
    width: 50%;
    margin-bottom: 4.6rem;
    padding: 0 2.2rem;
  }
}

.card {
  padding: 2.6rem 2rem;
  background: $white;
  box-shadow: 0 2px 6px rgba($black, .04);
}

.small-card {
  position: relative;
  height: 14.6rem;
  padding: 2.6rem 2.2rem;
  background: linear-gradient(54deg, $white 0, rgba($gray-3, .8) 100%);
  color: $second-text-color;
  box-shadow: 0 3px 6px rgba($black, .16);
  font-weight: 600;

  .image-block {
    position: absolute;
    right: 0;
    bottom: -4.6rem;
    width: 16rem;
    height: 16rem;
    font-size: 0;
  }

  .corner {
    position: absolute;
    top: -.5rem;
    right: -.7rem;
    width: 4.4rem;
    height: 4.4rem;
  }
}
