.info-list {
  margin: 3rem 0;
  font-size: 1.6rem;
  line-height: 2rem;

  &-item {
    margin-bottom: 2.2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .value {
    margin-left: .6rem;
    color: $base-link;
  }
}
