.checkbox-field {
  input {
    display: none;

    &:checked + .checkbox-custom {
      border-color: $checkbox-checked;
      background: $checkbox-checked;

      .check-icon {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    line-height: 1;
    cursor: pointer;

    &.disabled {
      opacity: .7;
      cursor: not-allowed;
    }
  }

  .checkbox-custom {
    @extend %flexCenterChildren;
    width: 1.8rem;
    height: 1.8rem;
    border: .2rem solid $checkbox-border;
    border-radius: .2rem;
    color: $white;
    font-size: 1.6rem;
    transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0ms;
    user-select: none;
  }

  .label-text {
    margin-left: 1rem;
    line-height: 1.8rem;
  }
}
